monitor/dist_app/
monitor/app/desktop/node_modules/
monitor/app/desktop/www/
monitor/app/desktop/dist/
downloads/
sanrazryv/dist/
sanrazryv/desktop/node_modules/
sanrazryv/desktop/www/
sanrazryv/desktop/dist/
